.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: white;
  color: #1890ff;
  border-radius: 5px;
}

.month-table {
  margin-left: auto;
  margin-right: auto;

  width: 150px;
  color: #878787 !important;
  font-size: 12px;
}

.col-display {
  background-color: #f2f2f0;
  border-radius: 20px;
  padding: 15px 20px;
}

[class*="basic-title-"] {
  margin-top: 0 !important;
  display: inline-block;
}

.basic-title-value {
  float: right;
}

.basic-title-color {
  color: #878787 !important;
}

.tableFixHead {
  overflow-y: auto;
  height: 240px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
th,
td {
  text-align: center;
  /*padding: 2px 4px;*/
}
th {
  background: #eee;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #a8a8a8;
}

.bonus-descrip-box {
  overflow-y: auto;
  height: 105px;
  border-radius: 20px;
}

.bonus-descrip-box-items {
  color: #878787 !important;
  font-size: 13px !important;
  background-color: #ffffff !important;
}

.dropdown-archon {
  color: #878787;
  font-size: large;
  font-weight: 500;
}

.dropdown-icon {
  font-size: medium;
  color: #878787;
}
